:root {
  --primary-color: #FF4C29;
  --secondary-dark: #2C394B;
}

html {
  background-color: var(--primary-color);
  color: var(--secondary-dark);
  height: 100%;
}

* {
  font-family: 'Scheherazade New', serif;
}

.header {
  text-align: center;
  margin-top: 100px;
}

.container {
  width: 300px;
  margin: auto auto;
}

label,
input {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}

label {
  font-weight: 500;
  font-size: 1.3rem;
}

input {
  border-radius: 5px;
  padding: 0.5rem;
  border: transparent;
  font-size: large;
  margin: 1rem 0;
}

#calculate-number {
  margin: 0.5rem auto;
  display: block;
}

#calculate-number {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-dark);
  color: var(--secondary-dark);
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: var(--secondary-dark);
  margin: auto;
  display: block;
}

#output-container {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: x-large;
  border-color: var(--secondary-dark);
  border-width: medium;
  border-radius: 5px;
}